.sidebarContainer{
    width: 40%;
    padding-left: 6rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    

   /* background-color: red; */
}


@media (max-width:500px) and (min-width:300px){

    .sidebarContainer{
        display: none;
    }

}