.countriesContainer {
  width: 80%;
  border-top:1px solid var(--neutrals-6, #E6E8EC);
  font-family: Poppins;

}

.countriesName {
  color: var(--neutrals-2, #23262f);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}


.countrysFilter{
  margin-bottom: 24px;
}
