.breakCrumbLink {
  width: 30%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.breakCrumbLink a {
  text-decoration: none;
  color: var(--neutrals-4, #777e90);
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
