.priceContainer {
  width: 80%;
}

.priceName p {
  color: #23262f;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.select {
  width: 144px;
  padding: 12px 12px 12px 16px;
  border-radius: 12px;
  border: 2px solid var(--neutrals-6, #e6e8ec);
  background: var(--neutrals-8, #fcfcfd);
  color: var(--neutrals-2, #23262f);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  appearance: none;
  background: url("/img/line.png") no-repeat right center;
  background-size: 24px;
  background-position: calc(100% - 12px) center;
}

.select:focus {
  outline: none;
}

.selectContainer {
  display: flex;
  gap: 16px;
}
.min {
  color: var(--neutrals-5, #b1b5c3);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.max {
  color: var(--neutrals-5, #b1b5c3);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
